/*===== header =====*/
.header__top {
    min-width: 1160px;
    text-align: right;
    background-color: $brand-color;
}
.header__top-adress {
    &::after {
        background: url('../img/sprite.png') -17px -483px no-repeat;
    }
}
.header__top-mail {
    &::after {
        background: url('../img/sprite.png') -17px -440px no-repeat;
    }
}
.header__top-adress,
.header__top-mail {
    position: relative;
    display: inline-block;
    margin-left: 120px;
    padding-left: 40px;
    vertical-align: middle;
    &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 30px;
        height: 30px;
        content: '';
    }
    &:hover a {
        text-decoration: underline;
    }
    a {
        line-height: 30px;
        text-decoration: none;
        color: #323232;
    }
}
.header__middle-container {
    margin-bottom: -20px;
    text-align: justify;
    &::after {
        display: inline-block;
        width: 100%;
        height: 0;
        content: '';
    }
}
.header__middle-logo,
.header__middle-btn,
.header__middle-phone {
    display: inline-block;
    vertical-align: middle;
}
.header__middle-logo {
    position: relative;
    .logo-link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .logo-pic,
    .logo-text {
        display: inline-block;
        vertical-align: middle;
    }
    .logo-pic {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: $brand-color;
        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-width: 90%;
            max-height: 90%;
            margin: auto;
        }
    }
    .logo-text {
        font-size: 16px;
        padding: 0 10px;
        color: #323232;
    }
}

.popup__btn-header {
    color: #000;
}
.header__middle-phone {
    position: relative;
    padding: 10px 0 10px 90px;
    padding-left: 90px;
    &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 80px;
        content: '';
        background: url('../img/sprite.png') -10px 12px no-repeat;
    }
    a {
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;
        color: #323232;

        @include opensans(semibold);
    }
}
// === navigation ===
.navigation {
    min-width: 1160px;
    background-color: #333236;
}
.navigation__list {
    margin: 0;
    padding: 0;
}
.navigation__item {
    font-size: 16px;
    display: inline-block;
    padding: 0 0 0 40px;
    list-style: none;
    &:hover {
        a {
            transition: .5s;
            border-bottom: 2px solid $brand-color;
        }
    }
    &.active {
        a {
            transition: .5s;
            color: $brand-color;
        }
    }
    a {
        display: inline-block;
        padding: 8px 0;
        transition: .5s;
        text-decoration: none;
        color: #fff;
        border-bottom: 2px solid transparent;
    }
}
/*===== /header =====*/


/*===== top__section =====*/
.top__section {
    position: relative;
    min-width: 1160px;
    height: 510px;
    text-align: center;
    background: url('../img/bg-top-section.jpg') 50% 50% no-repeat;
    &::before {
        display: inline-block;
        height: 100%;
        content: '';
        vertical-align: middle;
    }
}
.top__section-banner {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.banner__text-big,
.banner__text-small {
    font-weight: 400;
    color: #fff;

    @include opensans(bold);
    span {
        color: $brand-color;
    }
}
.banner__text-big {
    font-size: 48px;
    line-height: 48px;
}
.banner__text-small {
    font-size: 36px;
    line-height: 36px;
}
/*===== /top__section =====*/


/*===== map__section =====*/
.map__section {
    min-width: 1160px;

    @include clearfix;
}
.map__header {
    background-color: #333236;
}
.map__controls-list {
    width: 800px;
    margin: 0 auto;
}
.map__controls-item {
    display: inline-block;
    width: 50%;
    margin-right: -5px;
    text-align: center;
    &.active {
        .map__controls-link {
            transition: .5s;
            color: #fff;
            border: 2px solid $brand-color;
        }
    }
    &:hover {
        .map__controls-link {
            transition: .5s;
            color: $brand-color;
        }
    }
}
.map__controls-link {
    font-size: 18px;
    display: inline-block;
    margin: 5px 0;
    padding: 5px 35px;
    transition: .5s;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid transparent;

    @include opensans(bold);
}
.map__item {
    position: relative;
    display: none;
    &.active {
        display: block;
    }
}
/*===== /map__section =====*/


/*===== advantage =====*/
.advantage__section {
    min-width: 1160px;
    background-color: #333236;
    .section__header {
        background-color: #fff;
    }
    .container {
        padding: 50px 20px;
    }
}
.advantage__item {
    display: inline-block;
    width: 25%;
    margin-right: -5px;
    vertical-align: middle;
}
.advantage__pic,
.advantage__text {
    display: inline-block;
    vertical-align: middle;
}
.advantage__pic {
    position: relative;
    width: 90px;
    height: 90px;
    background-color: $brand-color;
    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 90%;
        max-height: 90%;
        margin: auto;
    }
}
.advantage__text {
    width: 180px;
    padding: 0 20px;
    color: #fff;
}
.advantage__text-big {
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;

    @include opensans(bold);
    span {
        font-size: 24px;
    }
}
.advantage__text-small {
    font-size: 12px;
    line-height: 14px;
    padding: 5px 0;
}
/*===== /advantage =====*/


/*===== our__works =====*/
.our__works {
    .container {
        padding: 20px 0 50px 0;
    }
}
.our__works-slider {
    margin: 0;
    padding: 0;
}
.our__works_slider-img {
    padding: 0;
    &:hover {
        transition: .5s;
        opacity: .5;
    }
}
.bx-wrapper {
    margin-bottom: 0;
    border: none;
    background-color: $brand-color;
    box-shadow: none;
}
.bx-controls.bx-has-pager {
    position: absolute;
    top: 270px;
    right: 0;
    width: 200px;
}
.bx-wrapper .bx-controls-direction a {
    width: 40px;
    height: 40px;
    margin-top: -10px;
}
.bx-wrapper .bx-prev {
    left: -15px;
    background: url('../img/sprite.png');
    background-position: -20px -76px !important;
    &:hover {
        background: url('../img/sprite.png');
        background-position: -20px -196px !important;
    }
}
.bx-wrapper .bx-next {
    right: -15px;
    background: url('../img/sprite.png');
    background-position: -20px -136px !important;
    &:hover {
        background: url('../img/sprite.png');
        background-position: -20px -256px !important;
    }
}
/*===== /our__works =====*/


/*===== why we =====*/
.why__we {
    min-width: 1160px;
    background: url('../img/bg-why-we.jpg') 50% 50% no-repeat;
    background-size: cover;
    .section__header-title {
        color: #fff;
    }
}
.why__we-item,
.why__we-logo {
    display: inline-block;
    vertical-align: middle;
}
.why__we-item {
    width: 80%;
    padding: 50px 50px 50px 0;
    color: #fff;
}
.why__we-logo {
    position: relative;
    width: 19%;
    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        margin: auto;
    }
}
/*===== /why we =====*/


/*===== info__section =====*/
.info__section {
    .container {
        padding: 20px 0;
    }
}
.info__section-item {
    display: inline-block;
    width: 50%;
    margin: 5px -5px 5px 0;
    vertical-align: top;
}
.info__section-pic,
.info__section-text {
    display: inline-block;
    margin-right: -5px;
    vertical-align: top;
}
.info__section-pic {
    position: relative;
    display: inline-block;
    width: 45%;
    img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
    }
}
.info__section-text {
    width: 55%;
    padding: 0 30px 0 10px;
}
.info__section-link {
    font-size: 14px;
    line-height: 20px;
    transition: .5s;
    text-decoration: none;
    text-transform: uppercase;
    color: #333236;

    @include opensans(bold);
    &:hover {
        transition: .5s;
        color: $brand-color;
    }
}
.info__section-date {
    display: inline-block;
    margin: 5px 20px -5px -100px;
    padding: 3px 10px 3px 100px;
    color: #fff;
    background-color: $brand-color;
}
.info__section-article {
    font-size: 14px;
    line-height: 18px;
    color: #4b4b4b;
}
//=== btn ===
.info__section-btn {
    padding: 30px 20px 10px 0;
    text-align: center;
    a {
        font-size: 16px;
        position: relative;
        display: inline-block;
        height: 40px;
        padding: 10px 20px 10px 30px;
        transition: .5s;
        text-decoration: none;
        color: #fff;
        background-color: $brand-color;
        &::after {
            position: absolute;
            top: 0;
            right: -40px;
            display: inline-block;
            width: 0;
            height: 0;
            content: '';
            border: 20px solid;
            border-color: transparent transparent transparent $brand-color;
        }
        &::before {
            position: absolute;
            top: 0;
            right: -30px;
            display: inline-block;
            width: 30px;
            height: 40px;
            content: '';
            background: url('../img/btn-bg.png') 100% 0 no-repeat;
        }
        &:hover {
            transition: .5s;
            color: #333236;
        }
    }
}
/*===== /info__section =====*/


/*===== map__section =====*/
#contacts__section-map {
    width: 100%;
    min-width: 1160px;
    height: 180px;
}

.gm-style-iw * {
    display: block;
    width: 100%;
}

.gm-style-iw h4,
.gm-style-iw p {
    margin: 0;
    padding: 0;
}

.gm-style-iw a {
    color: #4272db;
}
/*===== /map__section =====*/


/*===== contacts__section =====*/
.contacts__section {
    min-width: 1160px;
    padding: 15px 0 20px 0;
    background-color: #333236;
    .contacts__item {
        display: inline-block;
        width: 280px;
        margin-right: -5px;
        padding-right: 20px;
        &.contacts__item-btn {
            margin-top: 15px;
            padding-right: 0;
        }
    }
}
.popup__btn-contacts {
    color: #fff;
    background-color: $brand-color;
    &:hover {
        color: #333236;
    }
}
.contacts__item {
    display: inline-block;
    vertical-align: top;
}
.contacts__item-top {
    font-size: 18px;
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
    color: $brand-color;

    @include opensans(bold);
    &.adress::after,
    &.phone::after,
    &.email::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 30px;
        height: 30px;
        margin: auto;
        content: '';
    }
    &.adress::after {
        background: url('../img/sprite.png') -18px -395px no-repeat;
    }
    &.phone::after {
        background: url('../img/sprite.png') -18px -351px no-repeat;
    }
    &.email::after {
        background: url('../img/sprite.png') -18px -309px no-repeat;
    }
}
.contacts__item-bottom {
    padding-left: 35px;
    a {
        font-size: 18px;
        line-height: 20px;
        transition: .5s;
        text-decoration: none;
        color: #fff;

        @include opensans(light);
        &:hover {
            transition: .5s;
            color: $brand-color;
        }
    }
}
.copyright {
    min-width: 1160px;
    padding: 5px 0;
    text-align: center;
    color: #333236;
    background-color: $brand-color;
}
/*===== /contacts__section =====*/


/*===== temp =====*/
/*===== /temp =====*/
