*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
body {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 100%;

    @include opensans(regular);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
}
h2 {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333236;

    @include opensans(bold);
}
h3 {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #103d54;

    @include opensans(bold);
}
h4 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $brand-color;

    @include opensans(bold);
}
h5 {
    font-size: 18px;
    font-weight: 400;
    color: #103d54;

    @include opensans(bold);
}
h6 {
    font-size: 18px;
    font-weight: 400;
    color: $brand-color;

    @include opensans(bold);
}
a {
    color: $brand-color;
    &:hover {
        text-decoration: none;
    }
}
ul {
    li {
        position: relative;
        padding: 2px 0;
        list-style: url('../img/ul.jpg');
    }
}
ol {
    li {
        position: relative;
        padding: 2px 0;
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.hidden {
    display: none;
}

.popup__btn {
    font-size: 18px;
    display: inline-block;
    padding: 10px 35px;
    cursor: pointer;
    transition: .5s;
    text-transform: uppercase;
    border: 2px solid $brand-color;
    background-color: transparent;

    @include opensans(bold);
    &:hover {
        transition: .5s;
        background-color: $brand-color;
    }
}

.page__title {
    min-width: 1160px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 15px solid #333236;
    background: url('../img/bg-section-title.jpg') 50% 50% no-repeat;
    background-size: cover;
    .page__title-text {
        font-size: 30px;
        margin: 0;
        padding: 50px 0;
        text-transform: uppercase;
        color: #333236;

        @include opensans(bold);
    }
}

.section__header {
    text-align: center;
}
.section__header-container {
    overflow: hidden;
    width: 1120px;
    margin: 0 auto;
}
.section__header-title {
    font-size: 24px;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 20px ;
    text-transform: uppercase;
    color: #272626;
    &::after,
    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 10px;
        margin: auto;
        content: '';
        border-top: 1px solid #c5c5c5;
        border-bottom: 1px solid #c5c5c5;
    }
    &::after {
        right: -1000%;
        left: 100%;
    }
    &::before {
        right: 100%;
        left: -1000%;
    }
}

// ===== light box controls
.lb-data .lb-close {
    background: url('../img/lb/close.png') top right no-repeat;
    // background: url('../img/lb/close.png') !important;
}
.lb-nav a.lb-next {
    background: url('../img/lb/next.png') right 48% no-repeat;
}
.lb-nav a.lb-prev {
    background: url('../img/lb/prev.png') left 48% no-repeat;
}
// ===== /light box controls

.gallery {
    text-align: center;
}
.gallery_img_wrap {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 245px;
    height: 160px;
    margin: 10px 16px;
    background-color: $brand-color;
    &:hover a {
        transition: .5s;
        opacity: .5;
    }
    img {
        width: 100%;
    }
}
