*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
body {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 100%;

    @include opensans(regular);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
}
h2 {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333236;

    @include opensans(bold);
}
h3 {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #103d54;

    @include opensans(bold);
}
h4 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $brand-color;

    @include opensans(bold);
}
h5 {
    font-size: 18px;
    font-weight: 400;
    color: #103d54;

    @include opensans(bold);
}
h6 {
    font-size: 18px;
    font-weight: 400;
    color: $brand-color;

    @include opensans(bold);
}
a {
    color: $brand-color;
    &:hover {
        text-decoration: none;
    }
}
ul {
    li {
        position: relative;
        padding: 2px 0;
        list-style: none;
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -17px;
            display: block;
            width: 8px;
            height: 8px;
            margin: auto;
            content: '';
            background-color: $brand-color;
        }
    }
}
ol {
    li {
        position: relative;
        padding: 2px 0;
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.hidden {
    display: none;
}

.popup__btn {
    font-size: 18px;
    padding: 10px 35px;
    cursor: pointer;
    transition: .5s;
    text-transform: uppercase;
    border: 2px solid $brand-color;
    background-color: transparent;

    @include opensans(bold);
    &:hover {
        transition: .5s;
        background-color: $brand-color;
    }
}
