/*===== news =====*/
.news__item-list {
    padding: 20px 0;
}

.back__btn {
    font-size: 16px;
    display: inline-block;
    width: 245px;
    padding: 5px 0 7px 0;
    transition: .5s;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: url('../img/back-btn.png') 10px 50% no-repeat;
    background-color: #333236;
    &:hover {
        transition: .5s;
        color: $brand-color;
    }
}

.news__article-wrap {
    margin: 10px 0;
}
.news__article-pic,
.news__article-text {
    display: inline-block;
    vertical-align: top;
}
.news__article-pic {
    position: relative;
    width: 245px;
    img {
        width: 100%;
    }
}
.news__article-text {
    width: 860px;
    margin-left: 10px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #424649;
}
.news__article-title {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #333236;

    @include opensans(bold);
}
/*===== /news =====*/

// ===== pagination =====
.pagination {
    margin-bottom: 20px;
    .container {
        width: 1120px;
        text-align: center;
        background-color: $brand-color;
    }
}
.pagination__list {
    display: inline-block;
    margin: 0;
    padding: 5px 0;
    vertical-align: middle;
}
.pagination__item {
    display: inline-block;
    &.active {
        .pagination__link {
            transition: .5s;
            color: #fff;
            background-color: #333236;
        }
    }
}
.pagination__link {
    font-size: 16px;
    line-height: 25px;
    display: inline-block;
    width: 25px;
    margin: 0 5px;
    transition: .5s;
    text-align: center;
    text-decoration: none;
    color: #103d54;

    @include opensans(bold);
    &:hover {
        transition: .5s;
        color: #973c00;
    }
}
// ===== /pagination =====


/*===== temp =====*/
/*===== /temp =====*/
